header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 246, 253);
}

.hero {
    background: url("../images/hero1.png") center center/cover no-repeat;
    min-height: 350px;
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.hero-text-1,
.hero-text-2 {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

main {
    background-color: rgb(242, 246, 253);
}

.flex {
    display: flex;
}

.section {
    padding-top: 4rem;
}

.banner-left {
    background-image: linear-gradient(
        to right,
        rgba(11, 126, 116, 255),
        rgb(242, 246, 253)
    );
    color: white;
    padding-left: 1rem;
}

.banner-right {
    background-image: linear-gradient(
        to left,
        rgba(228, 129, 20, 255),
        rgb(242, 246, 253)
    );
    color: white;
    padding-right: 1rem;
}

#resources .banner-left {
    background-image: linear-gradient(
        to right,
        rgba(79, 67, 125, 255),
        rgb(242, 246, 253)
    );
}

#principles img,
#practises img,
#resources img {
    max-width: 100%;
    border-radius: 50%;
}

/* Media Queries */

/* For large devices (laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Provides a top margin to move image down from the banner */
    .image-margin {
        margin-top: 2rem;
    }

    /* Places the image to the left of the text */
    .image-first {
        order: -1;
    }
}
