.hero {
    background: url("../images/hero1.png") center center/cover no-repeat;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-1,
.hero-text-2 {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}
